
h1 {
  text-align: center;
  color: white;
}
p {
  color: white;
  text-align: center;
}
h3 {
  color: white;
  text-align: center
}
h4 {
  color: white;
}
html {
  background: black;
  background-image:url("cloud.jpg");
}
p1 {
  color: plum;
}
p2 {
  color: darkred;
}
p3 {
  color: rebeccapurple;
}
p4 {
  color: azure;
}
p5 {
  color:cornflowerblue;
}
p6 {
  color:yellow;
}
img {
  height: auto;
  width: 800px;
  border-radius: 90px;

}